
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('./image/food-4k-spdnpz7bhmx4kv2r.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #0072ff;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 15px;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #005bb5;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: left;
}